@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
margin: 0px;/*нужно прописывать сразу, до токо, как начал прописывать стили элементам*/
padding: 0px;/*или не ставить вообще иначе, когда стили элементам выставлены уже и прописать эту фишку, стили в некоторых элементах нужно будет менять*/
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: greenyellow;
}

.header { }

.blockIframeMarik {
position: absolute;
top: 424px;
left: 180px;
}

.iframeMarik {
width: 935px;
height: 526px;
border: 5px solid #f5deb3;  
background-size: cover; 
box-shadow: 0px 0px 17px 26px rebeccapurple;
}

.blockPhotoMarik {
position: absolute;
height: 452p;
top: 1068px;
left: 340px;
}

.filteronePhotoMarik {
border-radius: 76px;
box-shadow: 0px 0px 27px 26px #58ff74;
filter: brightness(0.8);
}

.onePhotoMarik {
width: 618px;
height: 452px;
border-radius: 75px;
}

.blockOneVideos {
position: absolute;
top: 1632px;
left: 29px;
}

.contentBlockOneVideos, .contentBlockTwoVideos {
display: flex;
justify-content: space-between;
align-items: center;
}

.listItem { 
padding-right: 14px;
list-style: none;/*Убирает точки у ли*/ 
}

.videoM-1 {
border: 1px solid #307ea3;
background-color: #ffdead;
box-shadow: 0px 0px 28px 22px #e73e3e;
list-style: none;
}

.videoM-2 {
bborder: 1px solid #00f;
background-color: #0ff;
box-shadow: 0px 0px 17px 16px #74008bc9;
list-style: none;
}

.videoM-3 {
border: 1px solid #ff0;
background-color: #adff2f;
box-shadow: 0px 0px 25px 15px darkgoldenrod;
list-style: none;
}

.sliderWrapFlex {
position: absolute;
display: flex;
width: 764px;
height: 572px;
top: 2135px;
left: 269px;
box-shadow: 0px 0px 199px 28px beige;
}

#slides{
position: absolute;
width: 764px;
height: 572px;
padding: 0px;
border: 2px solid #ffae00;
margin: 0px; 
text-align: center;
list-style-type: none;    
}

.controls {
position: absolute;
width: 201px;
height: 37px;
top: 647px;
left: 291px;
outline: none;
border: 4px solid #13dd13;
background-color: #8a2be2;
cursor: pointer;

font-family: 'Yeseva One';
font-size: 18px;
font-style: italic;
line-height: 25px;
text-align: center;
color: white;
}

.slide{
position: absolute;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
opacity: 0;
z-index: 1;

-webkit-transition: opacity 1s;
-moz-transition: opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;
}

.showing{
opacity: 1;
z-index: 2;
}

.slide{
padding: 40p;
ackground: #333;
font-size: 40px;
box-sizing: border-box;
color: #fff;
list-style: none;
}

/*На них ругается вэбпак
.slide:nth-of-type(1){
  ackground: url(images/IMG_20220521_134457.jpg) no-repeat;/*так тоже можно делать, но нужно подстривать слайдер*
  ackground-size: cover;
}
.slide:nth-of-type(2){
  ackground: orange;
}
.slide:nth-of-type(3){
  background: green;
}
.slide:nth-of-type(4){
  background: blue;
}
.slide:nth-of-type(5){
  background: purple;
}

.slide:nth-of-type(6){
  background: purple;
}

.slide:nth-of-type(7){
  background: purple;
}

.slide:nth-of-type(8){
  background: purple;
}*/

.filter_img {filter: brightness(0.7);}

.imagesSlide {
width: 764px;
height:572px;/*в этом слайдере я добавил имж в ли, в штмли, можно сделать у фотки меньше высоту и прописать бэкграунд slide:nth-of-type(8), будет внизу полоска, где можно красиво оформить текст*/
}

.number {
position: absolute;
bottom: 0px;
}

.h1h1 {
position: absolute;
right: 895px;
bottom: 182px;
color: darkred;
z-index: 1;      
}

.iframeTwoMarik {
position: absolute;
width: 1121px;
height: 630px;
top: 2963px;
left: 78px;
border: 6px solid #adff2f;
box-shadow: 0px 0px 40px 41px magenta;
}

.footer {
position: absolute;
width: 1280px;
top: 3646px;
background-color: #b1754b8f;
z-index: 1;
ext-align: center;/*нужен если будет h1, h2, p*/ 
/*-webkit-filter: grayscale(100%) contrast(150%) opacity(0.3); /*эффекты можно комбинировать тонируется все содержимое футера, z-index не помогает для растанировки */
}

.text-footer {
display: flex;
justify-content: space-between;
align-items: center;
color: #e3b873;

font-size:31px;
list-style-type: none;
font-family: "Nunito Sans", cursive /*Arial, sans-serif*/;
font-style: italic;
font-weight: bold;
ine-height: 0px;
list-style: none;/*Убирает точки у ли*/
text-decoration-line: none;
}

.letters {
padding-right: 38p; /*падинг не нужен, просто justify-content: space-between;, потому что вверху поставил * {margin: 0;position: 0;}*/
text-decoration-line: none; /*в панориуме нужен, потому что *{margin,pading} вверху не ставил*/
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
}

@media screen and (max-width: 375px) {
}